.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding-top: 40px;

  @media (min-width: 768px) {
    padding-top: 64px;
  }
  
  &__wrap {
    display: flex;
    align-items: center;
    gap: 56px; 
  }

  &__burger {
    display: block;
    width: 24px;
    height: 16px;
    z-index: 3;
    background: url("data:image/svg+xml,%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='2' fill='white' /%3E%3Crect y='7' width='24' height='2' fill='white' /%3E%3Crect y='14' width='24' height='2' fill='white' /%3E%3C/svg%3E") center no-repeat;

    @media (min-width: 768px) {
      display: none;
    }

    &.active {
      width: 20px;
      height: 20px;
      background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 8.58579L2.22183 0.807617L0.807617 2.22183L8.58579 10L0.807617 17.7782L2.22183 19.1924L10 11.4142L17.7782 19.1924L19.1924 17.7782L11.4142 10L19.1924 2.22183L17.7782 0.807617L10 8.58579Z' fill='white' /%3E%3C/svg%3E") center no-repeat;
    }
  }

  &__logo {
    width: 192px;
    height: 32px;
    z-index: 3;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    // width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    // background-color: var(--color-black);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    &.active {
      transform: translateX(0%);
    }

    @media (min-width: 768px) {
      position: static;
      display: block;
      background-color: transparent;
      transform: none;

      .container {
        padding: 0;
        margin: 0;
        max-width: auto;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 24px;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 32px;
      }
    }

    &-link {
      position: relative;
      color: inherit;
      font-weight: 300;
      font-size: 24px;
      line-height: 1.04;
      text-transform: uppercase;
      text-decoration: none;

      @media (min-width: 768px) {
        font-weight: 400;
        font-size: 15px;
        line-height: 1.67;
        text-transform: initial;
      }

      &:after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -8px;
        content: "";
        width: 24px;
        height: 2px;
        // background-color: var(--color-white);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      @media (hover: hover) {
        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}
