.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding-top: 48px;

  @media (min-width: 991px) {
    padding-top: 64px;
  }

  .container {
    max-width: none;
  }
  
  &__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px; 

    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }

  &__burger {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 24px;
    height: 16px;
    z-index: 3;
    background: url("data:image/svg+xml,%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='2' fill='white' /%3E%3Crect y='7' width='24' height='2' fill='white' /%3E%3Crect y='14' width='24' height='2' fill='white' /%3E%3C/svg%3E") center no-repeat;

    @media (min-width: 768px) {
      display: none;
    }

    &.active {
      width: 20px;
      height: 20px;
      background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.200846' fill-rule='evenodd' clip-rule='evenodd' d='M6.58589 8.00001L0.221924 14.364L1.63614 15.7782L8.0001 9.41422L14.3641 15.7782L15.7783 14.364L9.41431 8.00001L15.7783 1.63605L14.3641 0.221832L8.0001 6.58579L1.63614 0.221832L0.221924 1.63605L6.58589 8.00001Z' fill='black' /%3E%3C/svg%3E") center no-repeat;
    }
  }

  &__logo {
    width: 61px;
    height: 13px;
    z-index: 2;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 49px 0 46px;
    background-color: var(--color-white);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    @media (min-width: 768px) {
      position: static;
      display: block;
      width: auto;
      background-color: transparent;
      transform: none;
      padding: 0;

      .container {
        padding: 0;
        margin: 0;
        max-width: auto;
      }
    }

    &.active {
      transform: translateX(0%);
    }

    &-backdrop {
      position: absolute;
      left: 0;
      background: var(--color-black);
      opacity: 0.5;
      width: 100%;
      top: 100%;
      height: 100vh;
      z-index: 0;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 31px;

      @media (min-width: 768px) {
        justify-content: center;
      }
    }

    &-link {
      position: relative;
      color: var(--color-black);
      font-weight: 600;
      font-size: 16px;
      letter-spacing: -0.04em;
      text-decoration: none;
      text-transform: lowercase;

      @media (min-width: 768px) {
        color: var(--color-white);
      }

      &:after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -8px;
        content: "";
        width: 16px;
        height: 2px;
        background-color: var(--color-white);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      @media (hover: hover) {
        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}
