:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-200: hsl(0, 0%, 85%);
  --font-1: "Alata", sans-serif;
  --font-2: "Josefin Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-1);
  font-size: 15px;
  line-height: 1;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:focus {
  outline: none;
}

section,
article,
header,
footer,
nav,
aside {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding-top: 40px;
  color: var(--color-white);
}
@media (min-width: 768px) {
  .header {
    padding-top: 64px;
  }
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  display: block;
  width: 24px;
  height: 16px;
  z-index: 3;
  background: url("data:image/svg+xml,%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='2' fill='white' /%3E%3Crect y='7' width='24' height='2' fill='white' /%3E%3Crect y='14' width='24' height='2' fill='white' /%3E%3C/svg%3E") center no-repeat;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__burger.active {
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 8.58579L2.22183 0.807617L0.807617 2.22183L8.58579 10L0.807617 17.7782L2.22183 19.1924L10 11.4142L17.7782 19.1924L19.1924 17.7782L11.4142 10L19.1924 2.22183L17.7782 0.807617L10 8.58579Z' fill='white' /%3E%3C/svg%3E") center no-repeat;
}
.header__logo {
  width: 192px;
  height: 32px;
  z-index: 3;
}
.header__logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.header__nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  background-color: var(--color-black);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.header__nav.active {
  transform: translateX(0%);
}
@media (min-width: 768px) {
  .header__nav {
    position: static;
    display: block;
    background-color: transparent;
    transform: none;
  }
  .header__nav .container {
    padding: 0;
    margin: 0;
    max-width: auto;
  }
}
.header__nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
@media (min-width: 768px) {
  .header__nav-list {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
  }
}
.header__nav-link {
  position: relative;
  color: inherit;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.04;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header__nav-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.67;
    text-transform: initial;
  }
}
.header__nav-link:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  content: "";
  width: 24px;
  height: 2px;
  background-color: var(--color-white);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media (hover: hover) {
  .header__nav-link:hover:after {
    opacity: 1;
  }
}

.hero {
  position: relative;
}
.hero__wrap {
  height: 100vh;
  height: 100dvh;
  max-height: 650px;
}
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.hero__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.hero__content {
  position: relative;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  max-width: 650px;
  padding: 24px;
  border: 2px solid var(--color-white);
}
@media (min-width: 768px) {
  .hero__content {
    padding: 40px;
    top: 60%;
    transform: translateY(-60%);
  }
}
.hero__title {
  font-family: var(--font-2);
  font-weight: 300;
  font-size: 40px;
  line-height: 0.95;
  text-transform: uppercase;
  color: var(--color-white);
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 72px;
    line-height: 0.97;
  }
}

.interactive {
  margin-top: 96px;
}
@media (min-width: 1199px) {
  .interactive {
    margin-top: 160px;
  }
}
.interactive__wrap {
  display: grid;
  align-items: flex-end;
  grid-template-columns: 1fr;
}
@media (min-width: 1199px) {
  .interactive__wrap {
    grid-template-columns: 570px 1fr;
  }
}
.interactive__image {
  height: auto;
}
@media (min-width: 1199px) {
  .interactive__image {
    margin-right: -161px;
  }
}
.interactive__image.responsive-media::before {
  padding-top: 68.39%;
}
.interactive__content {
  padding: 48px 24px 0px 24px;
  z-index: 2;
  background-color: var(--color-white);
}
@media (min-width: 1199px) {
  .interactive__content {
    padding-top: 96px;
    padding-left: 96px;
  }
}
.interactive__title {
  font-family: var(--font-2);
  font-weight: 300;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 1199px) {
  .interactive__title {
    font-size: 48px;
  }
}
.interactive__text {
  font-family: var(--font-2);
  font-size: 15px;
  line-height: 1.67;
  margin-top: 25px;
  opacity: 0.5;
}

.creations {
  margin-top: 96px;
}
@media (min-width: 768px) {
  .creations {
    margin-top: 184px;
  }
}
.creations__wrap {
  display: flex;
  flex-direction: column;
}
.creations__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .creations__heading {
    margin-bottom: 80px;
    justify-content: space-between;
  }
}
.creations__link--mobile {
  display: inline-block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .creations__link--mobile {
    display: none;
  }
}
.creations__link--desktop {
  display: none;
}
@media (min-width: 768px) {
  .creations__link--desktop {
    display: inline-block;
  }
}
.creations__title {
  font-family: var(--font-2);
  font-weight: 300;
  font-size: 32px;
  line-height: 100%;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .creations__title {
    font-size: 48px;
  }
}
.creations__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .creations__list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
  }
}
@media (min-width: 1199px) {
  .creations__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.creations__card {
  position: relative;
  display: block;
}
@media (hover: hover) {
  .creations__card:hover .creations__card-title {
    color: var(--color-black);
  }
  .creations__card:hover:before {
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
  }
}
.creations__card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.creations__card::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.creations__card-title {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  font-weight: 300;
  font-size: 32px;
  font-family: var(--font-2);
  color: var(--color-white);
  line-height: 100%;
  text-transform: uppercase;
  padding: 20px;
  transition: color 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .creations__card-title {
    padding: 32px 40px;
  }
}
.creations__card-image.responsive-media::before {
  padding-top: 36.69%;
}
@media (min-width: 768px) {
  .creations__card-image.responsive-media::before {
    padding-top: 175.78%;
  }
}

.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  margin-top: 96px;
  padding: 56px 0;
}
@media (min-width: 768px) {
  .footer {
    margin-top: 184px;
    padding: 44px 0 43px;
  }
}
.footer__wrap {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (min-width: 768px) {
  .footer__wrap {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__container {
    align-items: flex-start;
  }
}
.footer__logo {
  width: 144px;
  height: 24px;
}
.footer__logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}
@media (min-width: 768px) {
  .footer__nav-list {
    flex-direction: row;
    gap: 32px;
    margin-top: 24px;
  }
}
.footer__nav-link {
  position: relative;
  font-size: 15px;
  line-height: 1.67;
}
.footer__nav-link:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  content: "";
  width: 24px;
  height: 2px;
  background-color: var(--color-white);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media (hover: hover) {
  .footer__nav-link:hover:after {
    opacity: 1;
  }
}
.footer__media-list {
  display: flex;
  gap: 16px;
  align-self: center;
}
@media (min-width: 768px) {
  .footer__media-list {
    align-self: flex-end;
  }
}
.footer__media-link {
  position: relative;
  width: 24px;
  height: 24px;
}
.footer__media-link img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.footer__media-link:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  content: "";
  width: 24px;
  height: 2px;
  background-color: var(--color-white);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media (hover: hover) {
  .footer__media-link:hover:after {
    opacity: 1;
  }
}
.footer__copy {
  font-size: 15px;
  line-height: 1.67;
  opacity: 0.5;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .footer__copy {
    margin-top: 24px;
  }
}

.main {
  color: var(--color-black);
  height: 100%;
  background-color: var(--color-white);
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  padding: 0 24px;
}
@media (min-width: 600px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 991px) {
  .container {
    padding: 0 55px;
  }
}

.responsive-media {
  position: relative;
}
.responsive-media img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.responsive-media::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 68.39%;
}

.btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  padding: 13px 43px 13px 38px;
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
