:root {
  --color-dark-gray: hsl(0, 0%, 63%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-very-dark-gray: hsl(0, 0%, 27%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  line-height: 1;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:focus {
  outline: none;
}

section,
article,
header,
footer,
nav,
aside {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding-top: 40px;
}
@media (min-width: 768px) {
  .header {
    padding-top: 64px;
  }
}
.header__wrap {
  display: flex;
  align-items: center;
  gap: 56px;
}
.header__burger {
  display: block;
  width: 24px;
  height: 16px;
  z-index: 3;
  background: url("data:image/svg+xml,%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='2' fill='white' /%3E%3Crect y='7' width='24' height='2' fill='white' /%3E%3Crect y='14' width='24' height='2' fill='white' /%3E%3C/svg%3E") center no-repeat;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__burger.active {
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 8.58579L2.22183 0.807617L0.807617 2.22183L8.58579 10L0.807617 17.7782L2.22183 19.1924L10 11.4142L17.7782 19.1924L19.1924 17.7782L11.4142 10L19.1924 2.22183L17.7782 0.807617L10 8.58579Z' fill='white' /%3E%3C/svg%3E") center no-repeat;
}
.header__logo {
  width: 192px;
  height: 32px;
  z-index: 3;
}
.header__logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.header__nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.header__nav.active {
  transform: translateX(0%);
}
@media (min-width: 768px) {
  .header__nav {
    position: static;
    display: block;
    background-color: transparent;
    transform: none;
  }
  .header__nav .container {
    padding: 0;
    margin: 0;
    max-width: auto;
  }
}
.header__nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
@media (min-width: 768px) {
  .header__nav-list {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
  }
}
.header__nav-link {
  position: relative;
  color: inherit;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.04;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header__nav-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.67;
    text-transform: initial;
  }
}
.header__nav-link:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  content: "";
  width: 24px;
  height: 2px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media (hover: hover) {
  .header__nav-link:hover:after {
    opacity: 1;
  }
}

.hero__wrap {
  display: grid;
  grid-template-columns: 58% 1fr;
  height: 66vh;
}
.hero__img {
  height: 100%;
  width: 100%;
}
.hero__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.hero__content {
  padding: 120px 16.66%;
}
.hero__title {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.04em;
}
.hero__text {
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.02em;
  color: var(--color-dark-gray);
  margin-top: 18px;
}
.hero__link {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.07;
  letter-spacing: 0.83em;
  margin-top: 26px;
  transition: all 0.3s ease-in-out;
}
.hero__link::after {
  content: "";
  height: 12px;
  width: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.5317 5.52782L34.0492 0L33.3869 0.667759L38.2072 5.52782H0V6.52782H38.152L33.3869 11.3322L34.0492 12L39.4765 6.52782H39.5392V6.46463L40 6L39.5392 5.53537V5.52782H39.5317Z' fill='black' /%3E%3C/svg%3E");
  transition: all 0.3s ease-in-out;
}
.hero__link:hover {
  color: var(--color-dark-gray);
}
.hero__link:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.5317 5.52782L34.0492 0L33.3869 0.667759L38.2072 5.52782H0V6.52782H38.152L33.3869 11.3322L34.0492 12L39.4765 6.52782H39.5392V6.46463L40 6L39.5392 5.53537V5.52782H39.5317Z' fill='%23A0A0A0' /%3E%3C/svg%3E");
}

.main {
  color: var(--color-black);
  height: 100%;
  background-color: var(--color-white);
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  padding: 0 24px;
}
@media (min-width: 600px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 991px) {
  .container {
    padding: 0 55px;
  }
}

.responsive-media {
  position: relative;
}
.responsive-media img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.responsive-media::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 68.39%;
}

.btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  padding: 13px 43px 13px 38px;
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
