:root {
  --color-dark-gray: hsl(0, 0%, 63%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-very-dark-gray: hsl(0, 0%, 27%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  line-height: 1;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:focus {
  outline: none;
}

section,
article,
header,
footer,
nav,
aside {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding-top: 48px;
}
@media (min-width: 991px) {
  .header {
    padding-top: 64px;
  }
}
.header__wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}
@media (min-width: 768px) {
  .header__wrap {
    justify-content: flex-start;
  }
}
.header__burger {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 16px;
  z-index: 3;
  background: url("data:image/svg+xml,%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='2' fill='white' /%3E%3Crect y='7' width='24' height='2' fill='white' /%3E%3Crect y='14' width='24' height='2' fill='white' /%3E%3C/svg%3E") center no-repeat;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__burger.active {
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.200846' fill-rule='evenodd' clip-rule='evenodd' d='M6.58589 8.00001L0.221924 14.364L1.63614 15.7782L8.0001 9.41422L14.3641 15.7782L15.7783 14.364L9.41431 8.00001L15.7783 1.63605L14.3641 0.221832L8.0001 6.58579L1.63614 0.221832L0.221924 1.63605L6.58589 8.00001Z' fill='black' /%3E%3C/svg%3E") center no-repeat;
}
.header__logo {
  width: 61px;
  height: 13px;
  z-index: 2;
}
.header__logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.header__nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 49px 0 46px;
  background-color: var(--color-white);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.header__nav.active {
  transform: translateX(0%);
}
@media (min-width: 768px) {
  .header__nav {
    position: static;
    display: block;
    width: auto;
    background-color: transparent;
    transform: none;
    padding: 0;
  }
  .header__nav .container {
    padding: 0;
    margin: 0;
    max-width: auto;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 31px;
}
@media (min-width: 768px) {
  .header__nav-list {
    justify-content: center;
  }
}
.header__nav-link {
  position: relative;
  color: var(--color-black);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
  text-decoration: none;
  text-transform: lowercase;
}
@media (min-width: 768px) {
  .header__nav-link {
    color: var(--color-white);
  }
}
.header__nav-link:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  content: "";
  width: 16px;
  height: 2px;
  background-color: var(--color-white);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media (hover: hover) {
  .header__nav-link:hover:after {
    opacity: 1;
  }
}

.hero__wrap {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 66vh;
}
@media (min-width: 768px) {
  .hero__wrap {
    grid-template-columns: 58% 1fr;
  }
}
.hero__slider {
  position: relative;
}
.hero__slider-wrap {
  height: 100%;
}
.hero__img {
  height: 100%;
  width: 100%;
}
.hero__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.hero__content {
  padding: 60px 32px 72px 32px;
}
@media (min-width: 991px) {
  .hero__content {
    padding: 120px 16.66%;
  }
}
.hero__btns {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .hero__btns {
    left: 100%;
    right: auto;
  }
}
.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  background-color: var(--color-black);
}
@media (min-width: 768px) {
  .hero__btn {
    height: 80px;
    width: 80px;
  }
}
.hero__btn:after {
  content: "";
  width: 14px;
  height: 24px;
  background-image: url("/assets/images/icon-angle-left.svg");
}
.hero__btn--next:after {
  background-image: url("/assets/images/icon-angle-right.svg");
}
.hero__title {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -0.04em;
}
@media (min-width: 991px) {
  .hero__title {
    font-size: 48px;
  }
}
.hero__text {
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.02em;
  color: var(--color-dark-gray);
  margin-top: 15px;
}
@media (min-width: 991px) {
  .hero__text {
    margin-top: 18px;
  }
}
.hero__link {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.07;
  letter-spacing: 0.83em;
  margin-top: 41px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 991px) {
  .hero__link {
    margin-top: 26px;
  }
}
.hero__link::after {
  content: "";
  height: 12px;
  width: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.5317 5.52782L34.0492 0L33.3869 0.667759L38.2072 5.52782H0V6.52782H38.152L33.3869 11.3322L34.0492 12L39.4765 6.52782H39.5392V6.46463L40 6L39.5392 5.53537V5.52782H39.5317Z' fill='black' /%3E%3C/svg%3E");
  transition: all 0.3s ease-in-out;
}
.hero__link:hover {
  color: var(--color-dark-gray);
}
.hero__link:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.5317 5.52782L34.0492 0L33.3869 0.667759L38.2072 5.52782H0V6.52782H38.152L33.3869 11.3322L34.0492 12L39.4765 6.52782H39.5392V6.46463L40 6L39.5392 5.53537V5.52782H39.5317Z' fill='%23A0A0A0' /%3E%3C/svg%3E");
}

.about__wrap {
  display: flex;
}
.about__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.42em;
}
.about__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: -0.02em;
  margin-top: 16px;
  color: var(--color-dark-gray);
}

.main {
  color: var(--color-black);
  height: 100%;
  background-color: var(--color-white);
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  padding: 0 24px;
}
@media (min-width: 600px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 991px) {
  .container {
    padding: 0 55px;
  }
}

.responsive-media {
  position: relative;
}
.responsive-media img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.responsive-media::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 68.39%;
}

.btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  padding: 13px 43px 13px 38px;
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
